/* this is the css file of the my_code.js and single_code.js  */
.my_code_wrapper {
  width: 80%;
  margin: 20px auto;
}

.my_code_wrapper .search_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_header input {
  padding: 8px 10px;

  background-color: var(--secondary-bg);
  color: #fff;
  width: 265px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* single_code.js style */
.single_code_wrapper {
  margin-top: 50px;
}
.single_code_wrapper .single_code {
  display: flex;
  flex-direction: column;
}
.single_code .code_title h3 {
  padding: 20px 0;
  font-size: 23px;
  display: block;
}

.code_body {
  width: 100%;
  border-radius: 5px;
  background-color: var(--secondary-bg) !important;
  position: relative;
}

.code_body .dlt_icon {
  position: absolute;
  right: 35px;
  top: 11.59px;
  z-index: 999;
  color: rgba(255, 255, 255, 0.895) !important;
  cursor: pointer;
}

/* search */
.search {
  display: flex;
  align-items: center;
  height: 35px;
}
.search button {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--primary-btn);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search_icon {
  margin: 0 !important;
  color: #fff !important;
  font-size: 20px !important;
}

.hilight {
  color: yellowgreen;
}
