nav {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
  padding: 0 50px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
nav .logo {
  background-image: linear-gradient(45deg, #ff00f7, #00d0ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  width: fit-content;
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: 40px;
  align-self: center;
  margin-right: 10px;
}
nav .links {
  display: flex;
  align-items: center;
  gap: 25px;
}
.links img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
nav .editor_btn {
  color: #fff;
}
nav .login_signup {
  border: 2px solid var(--primary-btn);
  padding: 5px 25px;
  border-radius: 5px;
  font-weight: 500;
  color: var(--primary-btn);
  /* color: #fff; */
  /* background-color: var(--primary-btn); */
  cursor: pointer;
}
/* responsive nav  */
@media only screen and (max-width: 600px) {
  nav {
    padding: 0 15px;
  }
  nav .links {
    gap: 15px;
  }
}
