nav {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
  padding: 0 50px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
nav .logo {
  /* color: #fff; */
  /* font-size: 20px; */
  background-image: linear-gradient(180deg, #ff00f7, #00d0ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  width: fit-content;
  display: flex;
  align-items: center;
}
.logo a {
  margin-left: 10px;
}
.logo img {
  height: 40px;
  width: 40px;
  align-self: center;
}
nav .links {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav .editor_btn {
  color: #fff;
}
nav .login_signup {
  border: 2px solid #4169e1;
  padding: 4px 20px;
  border-radius: 5px;
  font-weight: 500;
  color: #4169e1;
  cursor: pointer;
}
/* responsive nav  */
@media only screen and (max-width: 600px) {
  nav {
    padding: 0 15px;
  }
  nav .links {
    gap: 15px;
  }
}
